
#mfz-ab-headline-container{
    background-color: lightgrey;
    background-image: url('/Media/abt_background.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 0;
    h3{
        font-size: $fontsize_h3;
        color: white;
    }
    p{
        color: white;
    }



}

#mfz-ab-headline-innercontainer{
    
    font-size:$fontsize;
    font-family: MyriadWebPro;
    letter-spacing: 0.4px;
    &>p{

        padding-top:30px;
    }
}

#mfz-ab-whatwedo-container{
    background-color: white;
    width: 100%;
    height: 420px;
    text-align: center;
    font-size: 0;
    h4{
        font-size: $fontsize_h4;
        color: #122b3e;
    }
    p{
        color: #454545;
        
    }


}

#mfz-ab-whatwedo-innercontainer{

    font-size:$fontsize;

    &>p{

        padding-top:30px;
    }
}

.mfz-centering-container{

    &::before,
    &::after{
        content:"";
        display:inline-block;
        width:1%;
        height:100%;
        vertical-align: middle;
    }

}

.mfz-centering-innercontainer{

    display:inline-block;
    vertical-align: middle;
    width: 98%;
    max-width:800px;

}