


.mfz-contact-innercontainer{

    max-width: 640px;
    margin: 15px  auto;
    padding: $spacing 0;

    background-color: lightgray;

    &>h4{
        padding: 20px 0;
    }

}
.mfz-contact-details-innercontainer{

    display: inline-block;
    height: 100%;
    width: 100%;
    max-width:320px;
    font-size: 0;
    margin-left: $unit;
    margin-bottom: $unit;

    &>div{

        &>div >div{
            width: 100%;
            height: 100%;
            @include flex (row,nowrap,center,center,center);
        }
           
    }

}

.mfz-contact-info-row{

    height: $unit;
    width: 100%;
    margin-bottom: $spacing;

    &:nth-child(3) {
        
        height: auto;
        &>span:nth-child(3),&>span:nth-child(4){
            display: block;
            margin-left: $unit+10px;
        }
    }
 

}
.mfz-contact-info-icon{
    display:inline-block;
    height: 100%;
    width: $unit;
    margin-right: $spacing;

    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.mfz-contact-info-text{
    display: inline-block;
    line-height: $unit;
    font-size:$fontsize_l;
 
}

.mfz-contact-map-img-container{

    background-color: deepskyblue;
    height: 200px;
    width: 50%;
    max-width:320px;
    cursor:pointer;
    display: inline-block;

    
    &>img{height: 100%; width:100%;}
}

.mfz-contact-map-container{

    position: fixed;
    top:0;
    left: 0;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: greenyellow;
    margin-top: 60px;
    visibility: hidden;
  
}
.mfz-contact-map-close{

       color:red;
       font-size: 2rem;
       cursor:pointer;
       position: absolute;
       right: 0;
       top: 0;
       z-index : 2;

}

.mfz-contact-map{
    width: 100%;
    height: 100%;
}

/*
 * MEDIA QUERIES
*/

/* medium screen and smaller */
@media (max-width: $breakpoint_screen_m)
{
   

}
/* medium screen only */
@media (min-width: $breakpoint_screen_s) and (max-width: $breakpoint_screen_m){

}

/* small screen and smaller */
@media (max-width: $breakpoint_screen_s){
 

}
/* small screen only */
@media (min-width: $breakpoint_tablet_l) and (max-width: $breakpoint_screen_s){

}

/*large tablet and smaller */
@media (max-width: $breakpoint_tablet_l)
{


}
/*large tablet only*/
@media (min-width: $breakpoint_tablet_s) and (max-width: $breakpoint_tablet_l){

}

/* small tablet and smaller */
@media (max-width: $breakpoint_tablet_s){






}
/* small tablet only */
@media (min-width: $breakpoint_mobile) and (max-width: $breakpoint_tablet_s){

}
/* mobile */
@media (max-width: $breakpoint_mobile )
{
    


}
