#mfz-cm-headline-container{

    height: 600px;
    background-color: cornflowerblue;
    text-align: center;
    font-size:0;
    h3{
        font-size:$fontsize_h3;
    }

    &::before,
    &::after{
        content:"";
        display:inline-block;
        width:1%;
        height:100%;
        vertical-align: middle;
    }
}

#mfz-cm-headline-innercontainer{
    display:inline-block;
    vertical-align: middle;
    //background-color: greenyellow;
    width: 98%;
    max-width:800px;
    font-size:$fontsize;

    &>p{

        padding-top:30px;
    }
}

#mfz-cm-headline-logo-container{

    width: 100%;
    height: 60px;
    text-align: center;
}


.mfz-cm-brands-container{

    background-color: blueviolet;
    width: 100%;
    //display: inline-block;
    //text-align: center;
    height: 200px;        
    padding:$unit 0;

}

.mfz-cm-brands-logos-container{
    position:relative;
    //display: inline-block;
    height: 80px;
    margin: $spacing auto ;
    background-color: lightgreen;
    overflow:hidden;
    
}
.mfz-cm-brands-logos-innercontainer{
    font-size:0;
    height:100%;
}
.mfz-cm-brands-logo-container{
    display:inline-block;
    height:100%;
    min-width:120px;
    margin:0 $spacing*2 0 0;
    vertical-align: middle;
    background-color: palevioletred;

    &:last-child{
        margin-right:0;
    }
}

#mfz-cm-about-container{

    background-color: darkblue;
    padding:units2pixels(2) $unit;
}
#mfz-cm-about-text{
    width: 100%;
    max-width: 800px;
    margin: $spacing auto;
}


#mfz-cm-brands-container > h3,
#mfz-cm-contact-container > h3{
    text-align:center;
}
#mfz-cm-about-container > h3{
    width:100%;
    max-width:800px;
    margin:0 auto;
}

#mfz-cm-contact-container{

    background-color: lightgreen;
    font-size: 0px;
    padding:units2pixels(2) $unit;

    a{
        text-decoration: none;
        color:inherit;
    }
}

.mfz-cm-contact-innercontainer{

    max-width: 640px;
    margin: 0  auto;
    padding: $spacing 0;

}
.mfz-cm-contact-sub-container{

    display: inline-block;
    height: 200px;
    width: 50%;
    max-width:320px;
    //background-color: lightskyblue;
    font-size: $fontsize;
    //border : solid 0.5px; 
    &>h4{
        padding: 20px 0;
    }

}

.mfz-cm-contact-info-row{

    height: $unit;
    width: 100%;
    margin-bottom: $spacing;
    //background: red;
}
.mfz-cm-contact-row-icon{
    display:inline-block;
    height: 100%;
    width: $unit;
    background-color: lightyellow;
    margin-right: $spacing;
}

.mfz-cm-contact-row-text{
    display: inline;
    line-height: $unit;
    font-size:$fontsize_l;
}

.mfz-cm-contact-map{

    background-color: deepskyblue;
    height: 200px;
    width: 50%;
    max-width:320px;
    cursor:pointer;
    display: inline-block;
    margin-top: 50px;
    
    &>img{height: 100%; width:100%;}
}

.mfz-cm-contact-map-container{

    position: fixed;
    top:0;
    left: 0;
    height: calc(100vh - 60px);
    width: 100%;
    //z-index: 2000;
    background-color: greenyellow;
    margin-top: 60px;
    visibility: hidden;
  
}
.mfz-cm-contact-map-close{

       color:red;
       font-size: 2rem;
       cursor:pointer;
       position: absolute;
       right: 0;
       top: 0;
       z-index : 2;

}

// #mfz-contact-map-innercontainer{
   
//    height: 100%;
//    width: 100%;
//    background-color: palevioletred;

// }

.mfz-background-cover {

    background-position: center center; 
    background-size: cover; 
    background-repeat:no-repeat

}

/*
 * MEDIA QUERIES
*/

/* medium screen and smaller */
@media (max-width: $breakpoint_screen_m)
{
   

}
/* medium screen only */
@media (min-width: $breakpoint_screen_s) and (max-width: $breakpoint_screen_m){

}

/* small screen and smaller */
@media (max-width: $breakpoint_screen_s){
 

}
/* small screen only */
@media (min-width: $breakpoint_tablet_l) and (max-width: $breakpoint_screen_s){

}

/*large tablet and smaller */
@media (max-width: $breakpoint_tablet_l)
{

    .mfz-cm-contact-sub-container{

        width: 100%;
    }
    #mfz-cm-contact-map{

        width: 100%;
    }


}
/*large tablet only*/
@media (min-width: $breakpoint_tablet_s) and (max-width: $breakpoint_tablet_l){

}

/* small tablet and smaller */
@media (max-width: $breakpoint_tablet_s){

}
/* small tablet only */
@media (min-width: $breakpoint_mobile) and (max-width: $breakpoint_tablet_s){

}
/* mobile */
@media (max-width: $breakpoint_mobile )
{
    


}
