

#mfz-ct-content-container{
    background-color: #EBEBEB; 

}
#mfz-ct-contact{

    width: 100%;
    // max-width: 1200px;
    // margin: 0 auto;
    background: #FFFFFF;
}

#mfz-ct-contact-header{
    padding: 20px 30px;

    >h2{
        padding: 20px 0;
        color: black;
    }
    >span{
        margin-left: 20px;
    }
}

#mfz-ct-detailsform-container{
    width: 100%;
    @include flex (column,nowrap,"","","");
}

#mfz-ct-form-container{

    @include flex-item (1,1,auto);
    width: 100%;
    max-width: 710px;
    display: inline-block;
    margin:0 auto;
}

#mfz-ct-form{

    width: auto;

}

#mfz-ct-form-button-submit{
    background-color: #0054A6;
    color: white;

}

#mfz-ct-details-container{

    width: 100%;
    height: 800px;
    @include flex (row,nowrap,"","","");

}

#mfz-ct-contact-map-container{

    width: 100%;
    height: 100%;

}

#mfz-ct-contact-details-container{

    width: 500px;
    height: 100%;
    background-color: #E1E1E1;
    @include flex-item(0,0,480px);

    >h3{
        padding: $unit;
    }
    
}



/*
 * MEDIA QUERIES
*/

/* medium screen and smaller */
@media (max-width: $breakpoint_screen_m)
{
   

}
/* medium screen only */
@media (min-width: $breakpoint_screen_s) and (max-width: $breakpoint_screen_m){

}

/* small screen and smaller */
@media (max-width: $breakpoint_screen_s){
 
    #mfz-ct-contact-details-container{
         @include flex-item(0,0,360px); 
    }

}
/* small screen only */
@media (min-width: $breakpoint_tablet_l) and (max-width: $breakpoint_screen_s){

}

/*large tablet and smaller */
@media (max-width: $breakpoint_tablet_l)
{
 
     #mfz-ct-details-container{

        width: 100%;
        height: 800px;
        @include flex (column,nowrap,"","","");

    }

    #mfz-ct-contact-map-container{

        width: 100%;
        height: 480px;
        order:2;

    }

    #mfz-ct-contact-details-container{

        width: 100%;
        height: auto;
        background-color: #E1E1E1;
        order : 1;
        @include flex-item(0,0,auto);

        >h3{
            padding: $unit;
        }
        
    }

}
/*large tablet only*/
@media (min-width: $breakpoint_tablet_s) and (max-width: $breakpoint_tablet_l){

}

/* small tablet and smaller */
@media (max-width: $breakpoint_tablet_s){

}
/* small tablet only */
@media (min-width: $breakpoint_mobile) and (max-width: $breakpoint_tablet_s){

}
/* mobile */
@media (max-width: $breakpoint_mobile )
{


}