
#mfz-ct-contact{

    width: 100%;
    max-width: 1200px;
    min-width: 450px;
    margin: 0 auto;
    background: slategrey;
}

#mfz-ct-contact-header{
    padding: 20px 30px;

    >h2{
        padding: 20px 0;
    }
    >span{
        margin-left: 20px;
    }
}

#mfz-ct-detailsform-container{
    width: 100%;
    padding-left: 20px;
}

#mfz-ct-form-container{

    width: 100%;
    min-width: 450px;
    max-width: 710px;
    display: inline-block;
    margin:0 auto;
}

#mfz-ct-form{
    width: auto;
}

#mf-ct-form-button-submit{
    background-color: blue;
    color: white;
}

#mf-ct-details-container{
    width: 450px;
    display: inline-block;
    font-size: 0;
    background-color: lightgreen;
    height: 350px;

    &>h3 {
        padding: 20px 10px;
    }
    
}
#mfz-ct-details-innercontainer{
    // background: dodgerblue;
    width: 420px;
    float: right;
    height: 270px;
}

#mfz-ct-details-sub-container{

    display: inline-block;
    height: 180px;
    width: 60%;
    max-width:320px;
    //background-color: lightskyblue;
    font-size: $fontsize;
    //border : solid 0.5px; 
    &>h4{
        padding: 20px 0;
    }

}

.mfz-ct-details-info-row{

    height: $unit;
    width: 100%;
    margin-bottom: $spacing;
    //background: red;
}

.mfz-ct-details-row-text{
    // display:inline-block;
    line-height: $unit;
    font-size:$fontsize_l;
}

.mfz-ct-details-row-icon{
    display:inline-block;
    height: 100%;
    width: $unit;
    background-color: lightyellow;
    margin-right: $spacing;
}

#mfz-ct-details-map{
    background-color: deepskyblue;
    height: 150px;
    width: 150px;
    max-width:320px;
    cursor:pointer;
    float: right;
    margin-right: 10px;
    &>img{height: 100%; width:100%;}
}


// #mfz-ct-details-container{


//     width: 450px;
//     background-color: yellowgreen;
//     min-height: 300px;
//     display: inline-block;

    

// }

// #mfz-ct-details-innercontainer{
//     margin-left: 20px;

//     >div:last-child{
//         // background-color: indianred;
//         margin-bottom: 40px;
//     }
// }

// #mfz-ct-details-main-header{
//     padding: 20px 0;
    
// }

// .mfz-ct-details-section{
    
// }

// .mfz-ct-details-section-header{
//     display: block;
//     padding: 15px;
// }

// .mfz-ct-details-section-row{
//     display: block;
//     padding: 5px 30px;
// }