*{
    box-sizing: border-box;
}

html,body
{
    background-color:$color_bg;
    color:$color_text;

    font-size: $fontsize;
    font-family:$font_base;

    width:100%;
    min-width:$min_width;
    height:100%;
    min-height:$min_height;
}

#mfz-headercontent-container{
    width:100%;
    min-height:100%;
    
    @include flex(column,nowrap,flex-start,center,center);
}

#mfz-header-container
{
    @include flex-item(0,0,60px);
    width:100%;

    background-color:$color_accent_dark;
    
}
#mfz-header-innercontainer{
    height:60px;
    overflow:hidden;

    &>div{
        display:inline-block;
        vertical-align:top;
    }
}

#mfz-header-logocontainer{
    display:inline-block;
    height:100%;
    width:180px;
    background-color:grey;
}
#mfz-header-menu-container{
    display:inline-block;
    height:100%;
    background-color:red;

    &>ul{
        padding:0;
        margin:0;
        list-style: none;
        &>li{

            display:inline-block;
            padding:0 $spacing;
            
            line-height:60px;
            color:white;
            background-color:orange;


        }
    }
}

#mfz-header-burger-container{
    display:none;
    visibility:hidden;
    position:absolute;
    top:0;
    right:0;
    width:60px;
    height:60px;
    background-color:purple;
}

#mfz-content-container{
    @include flex-item(1,0,auto);
    background-color:grey;
    width:100%;
    position:relative;
}

#mfz-content-innercontainer{
    background-color:yellow;
    min-height:100%;

    position:absolute;
    top:0;
    left: 0; 
    right: 0;
    bottom: 0;

}
.mfz-content-testblock{
    width:100%;
    height:160px;
    margin:4px;
    background-color:orange;
}

#mfz-content-slider{
    width:100%;
    height:100%;
    background-color:purple;
}

#mfz-footer-container
{
    height:120px;
    background-color:$color_accent_dark;

}

/*
 * MEDIA QUERIES
*/

/* medium screen and smaller */
@media (max-width: $breakpoint_screen_m){

}
/* medium screen only */
@media (min-width: $breakpoint_screen_s) and (max-width: $breakpoint_screen_m){

}

/* small screen and smaller */
@media (max-width: $breakpoint_screen_s){

}
/* small screen only */
@media (min-width: $breakpoint_tablet_l) and (max-width: $breakpoint_screen_s){

}

/*large tablet and smaller */
@media (max-width: $breakpoint_tablet_l){

    #mfz-header-container.expanded
    {
        background-color:purple;
        &>#mfz-header-innercontainer{
            height:100%;
        }
    }
    #mfz-header-innercontainer{
        position:absolute;
        top:0;
        left:0;
        width:100%;

        z-index:5000;
    }
    #mfz-header-logocontainer{
        width:100%;
    }

    #mfz-header-burger-container{
        display:inline-block;
        visibility: visible;
    }
}
/*large tablet only*/
@media (min-width: $breakpoint_tablet_s) and (max-width: $breakpoint_tablet_l){

}

/* small tablet and smaller */
@media (max-width: $breakpoint_tablet_s){

}
/* small tablet only */
@media (min-width: $breakpoint_mobile) and (max-width: $breakpoint_tablet_s){

}
/* mobile */
@media (max-width: $breakpoint_mobile )
{

}

