*{
    box-sizing: border-box;
}

html,body
{
    background-color:$color_bg;
    color:$color_text;

    font-size: $fontsize;
    font-family:$font_base;

    width:100%;
    min-width:$min_width;
    height:100%;
    min-height:$min_height;
}

#mfz-headercontent-container{
    width:100%;
    min-height:100%;
    
    @include flex(column,nowrap,flex-start,center,center);
}

#mfz-header-container
{
    @include flex-item(0,0,60px);
    width:100%;

    background-color:$color_accent_dark;
    
}
#mfz-header-innercontainer{
    height:60px;
    overflow:hidden;
    background-color:$color_accent_dark;
    @include transition(height 0.5s ease-in-out 0s);
    &>div{
        display:inline-block;
        vertical-align:top;
    }
}

#mfz-header-logocontainer{
    display:inline-block;
    height:60px;
    padding:15px 30px;
}
#mfz-header-menu-container{
    display:inline-block;
    height:100%;

    &>ul{
        padding:0;
        margin:0;
        list-style: none;
        &>li{

            display:inline-block;
            padding:0 $spacing;
            
            line-height:60px;
            color:white;


        }
    }
}

#mfz-header-burger-container{
    display:none;
    visibility:hidden;
    position:absolute;
    top:0;
    right:0;
    width:60px;
    height:60px;
    margin:19px 14px;
    font-size:0;
}

#mfz-content-container{
    @include flex-item(1,0,auto);
    width:100%;
    position:relative;
}

#mfz-content-innercontainer{
    background-color:yellow;
    min-height:100%;

    position:absolute;
    top:0;
    left: 0; 
    right: 0;
    bottom: 0;

}
.mfz-content-testblock{
    width:100%;
    height:160px;
    margin:4px;
    background-color:orange;
}

#mfz-content-slider{
    width:100%;
    height:100%;
    background-color:purple;
}

#mfz-footer-container
{
    height:120px;
    background-color:$color_accent_dark;

}

#slider-container{
    width:100%;
    height: 100%;
    //background: url(../Media/content.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    overflow:hidden;

    .slider-container{
        width:100%;
        //height:units2pixels(12);
        height: 100%;
    }
    .slider-innercontainer{

        width:100%;
        height:100%;
        font-size:0;
        @include transition(left 0.5s linear 0s);
    }

    .slide{
        width:100%;
        height:100%;
        display:inline-block;
    }

    .slide2{
        display:inline-block;
        position:absolute;
        width:100%;
        height:100%;

        left:-100%;
        @include transition(left 0.5s linear 0s);
        &.current{
            left:0px;
        }
        &.next{
            left:100%;
        }

    }

    .slide3{
        height:units2pixels(6);
        width:units2pixels(4);
        margin-right:$unit;

        &:last-child{
            margin-right:none;
        }
    }

    .slide,
    .slide2,
    .slide3{
        display:inline-block;
        font-size:5rem;
        &:nth-child(1){
             
                background: url(../Media/content.png) ;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
        }
        &:nth-child(2){
      
               background: url(../Media/slide1.png) ;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
        }
        &:nth-child(3){
  
                background: url(../Media/slide2.png) ;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
        }
        &:nth-child(3){
  
                background: url(../Media/slide3.png) ;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
        }

        
    }
}

/*
 * MEDIA QUERIES
*/

/* medium screen and smaller */
@media (max-width: $breakpoint_screen_m){

}
/* medium screen only */
@media (min-width: $breakpoint_screen_s) and (max-width: $breakpoint_screen_m){

}

/* small screen and smaller */
@media (max-width: $breakpoint_screen_s){

}
/* small screen only */
@media (min-width: $breakpoint_tablet_l) and (max-width: $breakpoint_screen_s){

}

/*large tablet and smaller */
@media (max-width: $breakpoint_tablet_l){

    #mfz-header-container.expanded
    {
        &>#mfz-header-innercontainer{
            height:100%;
        }
    }
    #mfz-header-innercontainer{
        position:absolute;
        top:0;
        left:0;
        width:100%;

        z-index:5000;
    }
    #mfz-header-logocontainer{
        width:100%;
        
        img{
            display:block;
            margin:0 auto;
        }
    }
    #mfz-header-burger-container{
        display:inline-block;
        visibility: visible;
    }

    #mfz-header-menu-container{
        width:100%;
        &>ul{
            // width:100%;
            padding:40px;
            &>li{
                width:100%;
                height:40px;
                line-height:40px;
                padding-bottom:$spacing;
                text-align:center;
                font-size:1.3rem;
                font-weight:100;
                border-bottom:1px solid $color_accent_light;
            }

        }
    }
}
/*large tablet only*/
@media (min-width: $breakpoint_tablet_s) and (max-width: $breakpoint_tablet_l){

}

/* small tablet and smaller */
@media (max-width: $breakpoint_tablet_s){

}
/* small tablet only */
@media (min-width: $breakpoint_mobile) and (max-width: $breakpoint_tablet_s){

}
/* mobile */
@media (max-width: $breakpoint_mobile )
{

}

